.reveal h1 {
  font-size: 1.1em;
  color: #3d85c6;
}

.reveal h2 {
  font-size: 1em;
  color:  #3d85c6;
  border-bottom: 3px solid #cfe2f3;
  text-align: left;
  text-transform: none;
}

.box-quali {
  background-color: #cfe2f3;
  color: #0b5394;
}

hr {
  border: 3px solid #cfe2f3;
  margin: 40px 0px 20px 0px;
}

.author,
.advisor {
  text-align: left;
}

.reveal .advisor {
  font-size: 90%;
}

.reveal .date {
  margin-top: 40px;
  font-size: 70%;
}

.slides > section:first-child {
  background: url(../images/ufba.png) right 90% no-repeat;
}

.slides ul li {
  margin-bottom: 10px;
}
