* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 200%;
}

section .box-blue,
section .box-green,
section .box-gray,
section .box-yellow,
section .box-white {
  padding: 20px;
}

section .box-blue {
  background: url(backgrounds/RGB101133D8.svg);
}
section .box-green {
  background: url(backgrounds/RGB071707D8.svg);
}
section .box-gray {
  background: url(backgrounds/RGB2A2A2CD8.svg);
}
section .box-yellow {
  background: url(backgrounds/RGB37371AC1.svg);
}
section .box-white {
  background: url(backgrounds/RGBE6E6E645.svg);
}

section .citation {
  font-style: italic;
}

.url {
  color: #4444FF;
  text-shadow: 1px 1px 1px #004;
}

.reveal section img {
  background: none;
  border: 0;
  box-shadow: none;
}
